3. Import the required packages with their customary aliases as follows:

    `import pandas as pd`   
    `import numpy as np`  
    `import matplotlib.pyplot as plt`  
    `import seaborn as sns`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4.	Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. 
    Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [2]:
gdp_df = pd.read_csv('..\data\da16-python-gdp-and-internet-use-analysis-DSVaughan266\data\gdp_per_capita.csv')

In [3]:
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [4]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

5.  How many rows and columns are in `gdp_df`? Rows: 8219 Columns: 4 
    What are the data types of each column? object, int64, float64, float64

In [5]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 257.0+ KB

In [6]:
gdp_df.describe()

              Year          Value  Value Footnotes
count  8219.000000    8219.000000              0.0
mean   2006.672345   20270.976242              NaN
std       9.782986   22532.004246              NaN
min    1990.000000     510.822823              NaN
25%    1998.000000    4284.868430              NaN
50%    2007.000000   11916.457927              NaN
75%    2015.000000   28543.305542              NaN
max    2023.000000  174339.077325              NaN

6.  Drop the `Value Footnotes` column.

In [7]:
gdp_df_droppedVF = gdp_df.drop("Value Footnotes", axis = 1)

In [8]:
print(gdp_df_droppedVF.columns)

Index(['Country or Area', 'Year', 'Value'], dtype='object')

6.  Rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [9]:
gdp_df_droppedVF.columns = ["Country", "Year", "GDP_Per_Capita"]

In [10]:
gdp_df_droppedVF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         8219 non-null   object
 1   Year            8219 non-null   int64
 2   GDP_Per_Capita  8219 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.8+ KB

In [11]:
gdp_df_clean = gdp_df_droppedVF

7.  How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. 
    What do you notice?

In [12]:
gdp_df_clean.groupby("Country").size()
# There are 247 countries

Country
Afghanistan                    24
Africa Eastern and Southern    34
Africa Western and Central     34
Albania                        34
Algeria                        34
                               ..
Virgin Islands                 21
West Bank and Gaza             30
World                          34
Zambia                         34
Zimbabwe                       34
Length: 247, dtype: int64

In [13]:
# Investigate the range of the data.
first_year = gdp_df_clean["Year"].min()
last_year = gdp_df_clean["Year"].max()
total_years = last_year - first_year + 1

In [14]:
print("First year:", first_year)
print("Last_year:", last_year)
print("Total_years:", total_years)

First year: 1990
Last_year: 2023
Total_years: 34

In [15]:
# How many reports were made for each year?
year_counts = gdp_df_clean["Year"].value_counts()
print(year_counts)

Year
2020    247
2021    247
2013    247
2016    247
2019    247
2018    247
2017    247
2014    247
2015    247
2022    246
2011    246
2012    246
2009    245
2010    245
2008    244
2007    242
2006    242
2005    241
2003    241
2004    241
2002    241
2023    240
2001    240
2000    240
1999    238
1998    238
1997    238
1996    236
1995    236
1994    235
1993    234
1992    234
1991    234
1990    233
Name: count, dtype: int64

In [17]:
# There are 34 years of reported data. Some countries reported every year. How many and which ones?
country_counts =gdp_df_clean.groupby("Country").size()

In [18]:
countries_with_34 = country_counts[country_counts == 34].index.tolist()
print(countries_with_34)
len(countries_with_34)

['Africa Eastern and Southern', 'Africa Western and Central', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean small states', 'Central African Republic', 'Central Europe and the Baltics', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cyprus', 'Czechia', "CÃ´te d'Ivoire", 'Dem. Rep. Congo', 'Denmark', 'Dominica', 'Dominican Republic', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (IDA & IBRD)', 'East Asia & Pacific (excluding high income)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia', 'Euro area', 'Europe & Central Asia', 'Europe & Central Asia (IDA & IBRD)', 'Europe & Central Asia (excluding high income)', 'European Union', 'Fiji', 'Finland', 'Fragile and conflict affected situations', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heavily indebted poor countries (HIPC)', 'High income', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (IDA & IBRD)', 'Latin America & Caribbean (excluding high income)', 'Latvia', 'Least developed countries: UN classification', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low & middle income', 'Low income', 'Lower middle income', 'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Middle East & North Africa', 'Middle East & North Africa (IDA & IBRD)', 'Middle East & North Africa (excluding high income)', 'Middle income', 'Moldova', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America', 'North Macedonia', 'Norway', 'OECD members', 'Oman', 'Other small states', 'Pacific island small states', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend', 'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Samoa', 'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia', 'Small states', 'Solomon Islands', 'South Africa', 'South Asia', 'South Asia (IDA & IBRD)', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD)', 'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'SÃ£o TomÃ© and Principe', 'Tajikistan', 'Tanzania', 'Thailand', 'The Bahamas', 'The Gambia', 'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Tuvalu', 'TÃ¼rkiye', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Viet Nam', 'World', 'Zambia', 'Zimbabwe']

228

There are 247 countries in the database with 228 of them reporting all 34 years.

7 (continued) - Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [21]:
countries_under_34 = country_counts[country_counts < 34].index.tolist()
print(countries_under_34)
len(country_counts[country_counts < 34])

['Afghanistan', 'Bhutan', 'Cayman Islands', 'CuraÃ§ao', 'Djibouti', 'Faroe Islands', 'Greenland', 'Kosovo', 'Lebanon', 'Montenegro', 'San Marino', 'Serbia', 'Sint Maarten (Dutch part)', 'Somalia', 'Syrian Arab Republic', 'Tonga', 'Turks and Caicos Islands', 'Virgin Islands', 'West Bank and Gaza']

19

In [25]:
# Save countries_under_34 as a dataframe named countries_not_reporting.
countries_not_reporting = gdp_df_clean[gdp_df_clean["Country"].isin(countries_under_34)]

In [29]:
# Create a pivot table to explore the 19 countries that did not report every year.
pd.set_option("display.max_columns", None)
countries_not_reporting.pivot_table(values = "GDP_Per_Capita", index = "Country", columns = "Year")

Year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1617.826475,1454.110782,1774.308743,1815.928200,1776.918207,1908.114782,1929.723897,2155.353068,2191.504356,2565.022086,2848.586061,2757.052587,2985.319145,3046.579931,3017.942544,2967.692067,2958.785399,2952.998916,2902.392113,2927.245144,2769.685745,2144.166570,1981.710168,1992.424394
Bhutan,3411.383758,3338.009421,3624.597815,3850.551289,4042.494178,4379.870466,4616.919791,4778.705118,4965.876461,5241.366635,5287.574345,5545.630553,5991.254968,6323.541195,6517.996826,6850.804409,7140.856092,8195.070744,8470.034709,9019.118607,9985.284554,10714.686563,11143.944530,11212.479421,11744.518905,12400.298322,13320.975897,13482.342525,13854.854392,14555.188398,12979.936945,13458.812664,14061.312021,NaN
Cayman Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92169.884858,92300.472741,89338.286496,80594.077543,76259.029743,75059.658068,73948.025817,72954.519588,73017.594917,73281.044763,73907.226044,74564.738646,76088.895062,77440.552065,72149.326889,74150.858095,76359.090883,78109.350659
CuraÃ§ao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34307.297561,35339.242550,35436.175750,34812.966213,34288.912643,33651.673784,33335.024391,33490.423549,33795.301040,33397.565318,33004.720235,32704.520308,32321.039547,31753.544205,31128.803852,30861.475937,30209.940151,29729.250843,29256.962891,28659.800035,23751.617219,25163.993660,27327.417189,28886.687492
Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4446.413425,4675.451817,4940.631622,5204.131084,5398.750771,5566.581289,5784.448008,5773.207493,5947.860884,6083.643682,6400.620163
Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53528.783801,50835.954215,50782.339145,52716.933935,56744.651904,60123.726708,63151.504427,63139.805723,63286.584220,64571.917120,65294.751748,67207.832476,65131.613376,67757.777323,69338.809824,70373.376932
Greenland,37619.556421,37644.577619,35849.487074,34108.678362,35934.108534,37073.577832,37573.333407,38057.177195,40936.545081,41500.603369,44368.720295,44812.169485,44173.928416,46004.078108,49055.217488,51480.132680,54494.310038,55992.239321,59684.355683,60206.538033,60625.162855,60340.052635,61267.465333,60822.135627,63919.154576,62503.397152,65345.932011,65396.682781,65979.161056,67604.050701,67560.253903,68086.460124,NaN,NaN
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7098.403019,7481.458898,7877.101999,8359.936215,8431.662327,8828.276833,9150.749973,9824.991060,10434.888826,10856.290207,11188.224463,11774.117851,11137.496635,12362.414097,13022.462744,13642.676957
Lebanon,5345.512097,7828.172011,8924.152646,9695.315492,10294.812771,10762.442696,11757.282489,11668.400685,11885.307228,11617.249771,11571.732604,11817.930501,12053.834156,12272.344068,12882.075800,13024.664892,13003.680804,13941.561424,14955.141356,16264.350618,17390.758401,17353.196085,17323.301376,16396.496930,15205.873265,14980.020516,15572.361174,16128.583820,16290.051648,15659.566104,12507.436637,11599.775508,11474.750585,NaN
Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14605.661371,15368.186479,13961.740644,14419.562756,14519.615402,14736.883024,15042.586959,15680.566303,16311.960745,17687.312525,18865.771477,20192.530787,18981.589262,19464.908578,20072.228316,19509.079520,20181.745907,20521.807091,21205.672625,21826.035673,22852.882451,24018.960925,25002.834475,21200.284749,24046.619817,25670.039056,27342.823774
San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66923.030342,71024.559499,76474.129716,77149.415996,80420.769852,79649.532383,81688.378683,80724.808768,81632.174899,83781.547394,86785.018115,85120.286877,73093.831701,68669.252649,64214.118756,58176.377797,58467.976955,58743.584422,59647.659456,60669.818617,59524.559790,59194.044291,60171.047134,55998.071099,64745.131678,70887.573900,NaN
Serbia,NaN,NaN,NaN,NaN,NaN,9436.235802,10025.965885,10955.595278,11587.873271,10429.049129,11095.935358,11868.465348,12650.523039,13261.721852,14181.566705,15063.964132,15713.222537,17012.733315,17967.066465,17472.354518,17825.344465,17970.366355,17977.590532,18146.827809,17906.275965,18231.355907,18872.349915,19421.462656,20435.781343,21521.701752,21459.710155,23385.199993,24612.233899,25718.429976
Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50980.940084,52140.599658,53786.246200,53357.003463,52801.403105,52439.473676,51375.603250,50817.681494,46088.358384,42154.102027,45996.791235,39265.761679,40507.067241,43877.249143,44894.693464
Somalia,NaN,836.966662,803.498728,812.265795,634.500032,636.433676,663.113161,647.784694,662.437130,682.734112,702.597931,723.120228,749.644527,777.605495,802.771691,830.509203,857.685860,887.051018,918.802355,955.877291,994.868529,1053.983909,1114.404225,1197.291917,1258.822496,1343.442972,1383.658542,1527.112163,1504.439090,1491.107606,1396.053436,1392.464262,1387.813744,1402.469921
Syrian Arab Republic,5828.405516,6081.089071,6662.243142,6861.795047,7142.953801,7431.354210,7943.440605,8126.365776,8456.782875,7951.390147,7807.929955,7698.396937,7811.816019,8177.545069,8528.656046,8828.945905,8885.805396,8829.309064,8903.772253,9284.101621,9546.560488,9648.824267,7144.372450,5530.974728,5301.625353,5302.074137,5022.112718,4977.792101,4956.092965,4825.406021,4633.349518,4592.838601,4454.853733,NaN
Tonga,4487.819252,4766.388081,4772.330988,4946.717403,5188.439284,5508.339144,5510.708244,5455.905420,5541.683462,5632.722738,5808.265022,5860.080806,6085.113584,6053.880088,5900.457586,5828.370536,5670.914011,5506.651608,5758.568451,5453.874884,5488.750131,5847.443819,5907.267443,5951.694137,6096.869193,6194.639276,6639.136836,6862.668756,6896.042140,6875.025478,6995.317324,7034.924838,6901.738556,NaN
Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27643.683260,26283.384252,25360.260265,26470.621917,28214.008941,28909.358998,27058.114844,27444.435512,27826.014907,19813.406021,21192.482365,22209.910931,22305.659265
Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54299.229870,54086.154795,55883.454551,57838.097714,59911.722445,62332.944537,63057.626312,58895.305690,59272.245686,54443.068694,46422.415124,43563.886493,42853.898660,42739.083502,43502.433694,43277.154652,44205.407132,45632.636472,45055.782930,46893.549699,46479.299669,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,3966.688751,4062.962903,3932.226947,4311.538767,4805.191569,5071.821217,4520.889925,3996.508780,3409.172874,3788.926527,4503.080341,4885.072522,4714.373318,4769.523281,4984.805799,5270.663316,5432.243631,5805.321153,6009.109258,6142.202043,5990.426615,6072.650318,6464.133525,6426.795216,6342.937480,6269.891345,5423.682547,5663.121607,5753.083959,5313.097903

These countries didn't begin reporting until atleast 2000, some as late as 2013:
Afghanistan, Cayman Islands, CuraAsao, Djibouti, Faroe Islands, Sint Maarten, Turks & Caicos, Virgin Islands

In [ ]:
# 8.  In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. 
#     Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. 
#     Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? 
#     How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

# 9.  What was the median GDP per capita value in 2020?

# 10. For this question, you're going to create some visualizations to compare GDP per capita values for the years 1990, 2000, 2010, and 2020. 
#     Start by subsetting your data to just these 4 years into a new DataFrame named gdp_decades. Using this, create the following 4 plots:
# 	* A boxplot
# 	* A barplot (check out the Barplot with Seaborn section: https://www.python-graph-gallery.com/barplot/#Seaborn)
# 	* A scatterplot
# 	* A scatterplot with a trend line overlaid (see this regplot example: https://www.python-graph-gallery.com/42-custom-linear-regression-fit-seaborn)  

# Comment on what you observe has happened to GDP values over time and the relative strengths and weaknesses of each type of plot.
# 11. Which country was the first to have a GDP per capita greater than $100,000?
# 
# 12. Which country had the highest GDP per capita in 2020? Create a plot showing how this country's GDP per capita has changed over the timespan 
#     of the dataset.
 
# 13. Which country had the lowest GDP per capita in 2020? Create a plot showing how this country's GDP per capita has changed over the timespan 
#     of the dataset. **Bonus question:** Is it true in general that coutries had a higher GDP per capita in 2020 than in 1990? 
#     Which countries had lower GDP per capita in 2020 than in 1990?

# 14. Read in the internet use dataset into a DataFrame named `internet_df`. You will likely get errors when doing this. 
#     Check the arguments for the read_csv function to find ones that can help correct the errors 
#     (https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) Once you are able to read it in, take per a look at the top and bottom 
#     few rows to make sure that it has been read in correctly. Also, check the datatypes of the columns.

# 15. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'Internet_Users_Pct'.

# 16. Look at the number of observations in this dataset per year. What do you notice?

# 17. What is the first year to have a non-zero internet users percentage value?

# 18. How does the distribution of internet users percent differ for 2000 and 2014?

# 19. For how many countries was the percentage of internet users below 5% in 2014?

# 20. Merge the two DataFrames to one. Do this in a way that keeps **all rows** from each of the two DataFrames. 
#     Call the new DataFrame `gdp_and_internet_use`. Look at the first and last few rows to confirm that it merged correctly.

# 21. Find the three countries with the highest internet users percentage in 2014. Use a seaborn FacetGrid 
#     (https://seaborn.pydata.org/generated/seaborn.FacetGrid.html) to compare how the GDP per capita has changed over time for these three countries. 
#     What do you notice?

# 22. Subset `gdp_and_internet_use` to just the year 2014. Save this as a new dataframe named `gdp_and_internet_use_2014`.

# 23. Create a plot which compares Internet Users Percentage and GDP per Capita for the year 2014. What do you notice from this plot? 
#     If you see any unusual points, investigate them.

# 24. **Stretch Question:** Use the `qcut` function from pandas (https://pandas.pydata.org/docs/reference/api/pandas.qcut.html) to divide countries 
#     in `gdp_per_capita_2014` into three groups based on their GDP per capita values. Label these groups as "Low", "Medium", and "High". 
#     Put these labels in a new column, named "GDP_group".

# 25. **Stretch Question:** How does the median internet users percentage compare for the three gdp groups?

# ### Bonus exercise:
# 1.    Download another data set from the UN data (http://data.un.org/Explorer.aspx) to merge with your data and explore.